*.iml
.gradle/
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/
.DS_Store
/build
/outputs
/gradle
/captures
.externalNativeBuild
.svn/
app.iml
Untitled/
gradle.properties
gradlew
gradlew.bat
build.gradle
settings.gradle